<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Health Dashboard</title>
    <!-- FullCalendarのスクリプトを読み込む -->
    </head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="{% url 'home' %}">HOME</a></li>
                <li><a href="{% url 'registration' %}">新規登録</a></li>
                </ul>
        </nav>
    </header>
    <script src="https://cdn.jsdelivr.net/npm/fullcalendar@3.10.2/dist/fullcalendar.min.js"></script>
    <!-- FullCalendarのスタイルを読み込む -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fullcalendar@3.10.2/dist/fullcalendar.min.css" />
    <!-- 他の共通のスクリプトやスタイルもここで読み込む -->
</head>
<body>
    <!-- ここにページのコンテンツを追加 -->
    {% block content %}{% endblock %}
</body>
</html>
